@media screen and (max-width: 480px){
	#left{
		width: 200px;
		float: left;
	}
	#sidebar{
		width: 200px;
		float: right;
	}
}

@media screen and (min-width: 768px) and (max-width: 959px){ 
	@viewport{ 
		width: 768px; 
	} 
}

#body{
	margin-top: -3%;
	background-color: #FFFAF0;
}

a {
    display: inline-block;
}

#left{
	margin-top: 25%;
	margin-left: 6%;
	margin-right: 6%;
	min-height: 100px;
	overflow: hidden;
	background: repeat-y;
}

#banner{
	height: 70%;
	margin-top: 20%;
}

#nav-bar{
	width: 100%;
	margin-top: 8%;
	background-color: #FFFAF0;
	border: transparent;
	text-align: center;
	color: rgb(103, 10, 15);
}

#nav-bar li{
	text-align: center;
	color: rgb(103, 10, 15);
}

#nav-bar li a:hover{
	background-color: rgb(103, 10, 15);
	color: #FFFAF0;
}

#navbar-nav{
	width: 100%;
	text-align: center;	
}

#navbar-nav li a{
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: rgb(103, 10, 15);

}

#navbar-nav li a.active{
	background-color: rgb(103, 10, 15);
	color: #FFFAF0;
}

#page-header{
	position: fixed;
	height: 103%;
	margin-top: 0px;
	background-color: rgb(103, 10, 15);
	z-index: 1;
	background: rgb(103, 10, 15);
}

#page-body{
	margin-left: 16.5%;
}

#page-footer{
	position: fixed;
	height: 103%;
	margin-top: 0px;
	margin-left: 83.5%;
	background-color: rgb(103, 10, 15);
	z-index: 1;
}

#sidebar{
	width: 100%;
	min-height: 100px;
	overflow: hidden;
	margin: 0 auto;
}

#imaginary_container{
	width: 100%;
    margin-top: 40%; 
    z-index: 1;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right: 0; 
	box-shadow: 0 0 0; 
	border-color: #ccc;
}
.stylish-input-group button{
    border: 0;
    background: transparent;
}

.downloads{
	width: 80%;
	height: 25%;
	margin-top: 35%;
	margin-left: 10%;
	background-color: #FFFAF0;
	z-index: 1;
}

a#dl{
	width: 100%;
	color: #FFFAF0;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;

}
.links{
	width: 80%;
	height: 23%;
	margin-top: 15%;
	margin-left: 10%;
	margin-bottom: 10%;
	background-color: #FFFAF0;
	z-index: 1;
}

#links_twitter{
	width: 80%;
	margin-top: 5%;
	margin-left: 5%;
	text-decoration: none;
	color: black;
}

#photo1{
	width: 5%;
	height: 5%;
	margin-top: 10%;
	margin-left: 15%;
	margin-right: 5%;
	background-color: #FFFAF0;
}

#photo2{
	width: 5%;
	height: 5%;
	margin-top: 10%;
	margin-right: 5%;
	background-color: #FFFAF0;
}

#photo3{
	width: 5%;
	height: 5%;
	margin-top: 10%;
	margin-right: 5%;
	background-color: #FFFAF0;
}

#photo4{
	width: 5%;
	height: 5%;
	margin-top: 10%;
	margin-right: 5%;
	background-color: #FFFAF0;
}

#photo5{
	width: 5%;
	height: 5%;
	margin: 5% 5% 5% 15%;
	background-color: #FFFAF0;
}

#photo6{
	width: 5%;
	height: 5%;
	margin-top: 5%;
	margin-right: 5%;
	margin-bottom: 10%;
	background-color: #FFFAF0;
}

#photo7{
	width: 5%;
	height: 5%;
	margin-top: 5%;
	margin-right: 5%;
	margin-bottom: 10%;
	background-color: #FFFAF0;
}

#photo8{
	width: 5%;
	height: 5%;
	margin-top: 5%;
	margin-right: 5%;
	margin-bottom: 10%;
	background-color: #FFFAF0;
}

#image_headline{
	width: 90%;
	height: 55%;
	margin-top: 8%;
	
}

#content{
	height: 10%;
	text-align: left;
	margin-top: 3%;
	margin-left: -5%;
}

#text{
	height: 80%;
	margin-top: 1%;
	margin-left: -5%;
	margin-right: 3%;
	text-align: left;
}

#title{
	width: 80%;
	margin: 0 auto;
	padding-top: 3%;
	color: rgb(103, 10, 15);
	text-align: left;
	text-decoration: none;

}

#post_text{
	margin-top: 5%;
	color: black;
	text-indent: 5%;
}

h3 a{
	color: rgb(103, 10, 15);
	text-decoration: none;
}

h3 a:hover{
	text-decoration: none;
}

#see_full_text{
	font-weight: bolder;
	color:  rgb(103, 10, 15);
}

#recent_hl{
	width: 90%;
	height: 35%;
}

#recent_hl1{
	width: 30%;
	height: 25%;
	margin-top: -100px;
}

#recent_hl2{
	width: 30%;
	height: 25%;
	margin-left: 10%;
}

#recent_hl3{
	width: 30%;
	height: 25%;
	margin-left: 10%;
}

#recent_hl4{
	width: 30%;
	height: 25%;
	margin-top: 30%;
}

.form-inline{
	width: 80%;
	margin: 0 auto;
	padding-top: 5%;
}

form{
	width: 80%;
	margin: 0 auto;
	padding-top: 3%;
}